@import url("https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;500;700&family=Bellefair&display=swap");

$mainTitle_font: "Bellefair";
$mainPara_font: "Barlow";
$mainSecondHeader_font: "Barlow Condensed";
$homePara_font_color: #d0d6f9;
$homePara_font_size: 15px;
$biggerTitle_font_size: 80px;
$biggerTitle_font_color: white;
$secondHeader_font_size: 16px;
